APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:Uzgvf8vw0fbKCN4CpF616wQ7UgMdaV34dbxmYmffygY=
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=task
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=harmonia.hp
MAIL_PASSWORD=rz110294()
MAIL_ENCRYPTION=null